/* 
------------------Typohraphy---------------
Font Sizes
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

Font Weight
400 / 700

Line Height
1.2 / 1.5

Letter Spacing
0 / -2px

Font Family
Poppins

--------------------Colours-------------------
Primary
Base: #1f4e79 (Mogano Blue)
Tint: #bccad7
Shade: #091724

Grey
Base: #7e7f7e
Tint: #9e9f9e
Shade: #202020

----------------Border Radius--------------
4px / 8px / 20px

----------------Spacing System------------------
5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/


/* -------------Global Styles------------------- */
:root {
    /*  Font Size */
    --text-sm: 0.8rem; /* 12.8px */
    --text-paragraph: 1rem; /* 16px */
    --text-h5: 1.6rem; /* 25.6px */
    --text-h4: 2rem; /* 32px */
    --text-h3: 2.4rem; /* 38.4px */
    --text-h2: 3.1rem; /* 49.6px */
    --text-h1: 3.8rem; /* 60.8px */

    /*  Font Weight */
    --font-weight-normal: 400;
    --font--weight-bold: 700;

    /*  Line Height */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /*  Letter Spacing */
    --letter-spacing-tight: 2px;

    /*  Font Family */
    --font-family: "Poppins", sans-serif;

    /*  Colours */
    --primary-base: #1f4e79;
    --primary-tint: #e9edf2;
    --primary-shade: #163755;
    --grey-base: #7e7f7e;
    --grey-tint: #b2b2b2;
    --grey-shade: #4c4c4c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    background-color: var(--primary-tint);
    color: var(--grey-base);
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font--weight-bold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--grey-shade);
}

h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

h5 {
    font-size: var(--text-h5);
}

p {
    font-size: var(--text-paragraph);
}

a {
    font-size: var(--text-paragraph);
    text-decoration: none;
    text-transform: uppercase;
    /* display: inline-block; */
    color: var(--grey-base);
}

a:hover, a:active {
    color: var(--grey-base);
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

/* ------------ Nav bar -------------- */
header {
    height: 81px;
    margin: auto;
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease;
    z-index: 100;
}

.logo {
    width: 250px;
    display: inline-block;
    margin-top: 20px;
    /* margin-bottom: -30px; */
}

.logo_wrap {
    position: relative;
    display: block;
    height: 40px;
    width: auto;
    margin-top: -20px;
}

.logo_wrap img {
    position: absolute;
    top: 0;
    left: 0;
    height: 81px;
    width: auto;
    transition: opacity 0.3s ease;
}

.logo_scrolled {
    opacity: 0;
    pointer-events: none;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin-top: 35px;
    display: flex;
    gap: 35px;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e9edf2;
}

nav li a {
    font-weight: var(--font--weight-bold);
}

nav li a:hover {
    color: var(--primary-shade);
    border-bottom: 1px solid var(--primary-shade);
}

nav li a#current {
    color: var(--primary-shade);
    border-bottom: 2px solid var(--primary-shade);
}

header.scrolled {
    background-color: var(--primary-base);
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--primary-tint);
}

header.scrolled .logo_default {
    opacity: 0;
    pointer-events: none;
}

header.scrolled .logo_scrolled {
    opacity: 1;
    pointer-events: auto;
    margin-top: -10px;
}

header.scrolled nav li a {
    color: var(--primary-tint);
}

header.scrolled nav li a:hover, a:active {
    color: var(--grey-tint);
    border-bottom: 1px solid var(--grey-tint);
}

#menu_toggle {
    display: none;
    background-color: transparent;
    border: none;
}

#menu_toggle.open {
    display: none;
    border: none;
}

#hero_section {
    height: 300px;
    display: flex;
    margin-top: 15px;
    align-items: center;
    padding-left: 50px;
    background: linear-gradient(to right, var(--primary-shade) 10%, var(--primary-base)90%);
}

/* #hero_section .container {
    width: 70%;
    margin-left: 0;
    gap: 50px;
} */

#hero_section h2 {
    padding-bottom: 25px;
    color: var(--primary-tint);
}

#about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 50px;
}

#about h5 {
    justify-self: left;
    grid-column: 1/span 2;
    margin-top: 5px;
    margin-bottom: 20px;
}

#about p {
    display: block;
    padding: 5px;
}

#about img {
    width: 330px;
    border-radius: 20px;
    margin-left: 160px;
    margin-top: -30px;
}

#us .container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

#us img {
    width: 50px;
    margin-bottom: 5px;
}

ion-icon {
    font-size: 50px;
    padding-bottom: 15px;
    color: var(--primary-tint);
}

#us .container #values {
    order: 1;
}

#us .container #vision {
    order: 2;
}

#us .container #mission {
    order: 0;
}

#us .container #mission, #vision {
    background-color: var(--primary-tint);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}   

#us .container #values {
    background-color: var(--primary-base);
    /* color: var(--primary-tint); */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

#us .container #values h5 {
    color: var(--primary-tint);
}

#us .container .boxes {
    flex: 1;
    align-items: center;
    justify-content: space-around;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#us .container .boxes ul {
    text-align: left;
    margin-top: 10px;
    padding-left: 15px;
}


#philosophy {
    padding: 40px 0 20px 0;
    margin-top: 20px;
    text-align: center;
}

#philosophy .main {
    width: 70%;
    max-width: 800px;
    margin: 0 auto 0px auto;
}

#philosophy h3 {
    margin-bottom: 15px;
}

#philosophy .keys {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

#philosophy .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0px;
    vertical-align: top;
    text-align: left;
    background-color: var(--primary-tint);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#philosophy .boxes img {
    width: 100px;
    margin-bottom: 10px;
}

#badges {
    padding: 20px 0;
    background-color: var(--primary-shade);
    text-align: center;
}

#badges ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#badges img {
    width: 20px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#CTA {
    background-color: #0a82ac;
    width: 48%;
    /* height: 210px; */
    margin: 150px auto;
    border-radius: 15px;
    text-align: center;
}

#CTA h4 {
    color: var(--primary-tint);
    padding: 35px 0 30px 0;
}

#CTA a {
    display: inline-block;
    color: var(--primary-tint);
    margin-bottom: 35px;
    padding: 10px 30px;
    border: 2px solid var(--grey-tint);
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#CTA a:hover {
    background-color: var(--grey-tint);
    color: var(--primary-shade);
}

/* ------------- Footer -------------- */
footer #mobile {
    display: none;
}


footer {
    background-color: var(--primary-shade);
    padding: 20px 0 5px 0;
    color: var(--primary-tint);
}

footer img .logo{
    width: 50px;
}

footer .container #boxes {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    padding-bottom: 20px;
}

footer .container .box1, footer .container .box2, footer .container .box3, footer .container .box4 {
    width: 25%;
}

footer .container h4 {
    font-size: larger;
    color: var(--primary-tint);
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

footer .container a {
    text-transform: none;
    color: var(--primary-tint);
    font-size: var(--text-sm);
}

footer .container p, footer .container li {
    font-size: var(--text-sm);
    color: var(--primary-tint);
    line-height: 1.1;
    margin-bottom: 10px;
}

footer .container ion-icon {
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

footer .legal {
    border-top: 1px solid var(--primary-tint);
    padding-top: 10px;
    text-align: center;
    font-size: var(--text-sm);
}







/* ------------- Media Queries -------------- */
@media (max-width: 1099px) {
    #nav_menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: min(200px, 100%);
        background: var(--grey-base);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 5px 30px;
        box-shadow: -10px 0 30px rgba(0, 0, 0, 0.15);

        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;

        transition: all 0.3s ease;
        z-index: 5;
    }

    #nav_menu.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    #nav_menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    #nav_menu ul li a {
        width: 100%;
        display: block;
        color: var(--primary-tint);
    }

    nav li a#current {
    border-bottom: none;
}

    #menu_toggle {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 25px;
        height: 22px;
        gap: 200px;
        /* margin-left: auto; */
        /* margin-top: 30px; */
        z-index: 1001;
        position: relative;
    }
    
    #menu_toggle.open {
        display: flex;
        border: none;
        margin-right: 110px;
    }

    #menu_toggle span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        margin: 2px 0;
        background-color: var(--grey-shade);
        transition: all 0.3s ease;
        transform-origin: center;
        z-index: 100;
    }

    #menu_toggle span:nth-child(1) {
        top: 0;
    }

    #menu_toggle span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    #menu_toggle span:nth-child(3) {
        top: 90%;
    }



    #menu_toggle.open span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
        background-color: var(--primary-tint);
    }
    #menu_toggle.open span:nth-child(2) {
        opacity: 0;
    }
    #menu_toggle.open span:nth-child(3) {
        top: 50%;
        bottom: auto;
        transform: rotate(-45deg);
        background-color: var(--primary-tint);
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header.scrolled #menu_toggle span {
        background-color: var(--primary-tint);
    }

}

@media (max-width: 1034px) {
    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    #about img {
        width: 280px;
        margin-left: 130px;
        margin-top: 50px;
    }

    #us img {
        width: 40px;
    }

    ion-icon {
        font-size: 40px;
        padding-bottom: 10px;
    }

    #philosophy .boxes img {
        width: 80px;
    }

    footer .container {
        display: none;
    }

    footer #mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;
    }

    footer #mobile .logo {
        width: 150px;
    }

    footer #mobile ul {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-bottom: 20px;

    }

    footer #mobile ul li a {
        font-size: var(--text-sm);
        color: var(--primary-tint);
    }


    footer #mobile .legal {
        font-size: var(--text-sm);
        width: 100%;
    }

}

@media (max-width: 850px) {
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    #about .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    #about h5, #about h2, #about p, #about img {
        grid-column: 1/-1;
    }

    #about img {
        width: 50%;
        justify-self: center;
        margin-left: 0;
        margin-top: 20px;
    }

    #us {
        background-color: var(--grey-tint);
        padding: 70px 0 40px 0;
    }

    #us .container {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        background-color: var(--grey-tint);
    }

    #us .container .boxes {
        width: 60%;
        margin: auto;
    }

    #us .container #mission, #vision{
        background-color: transparent;
    }

    #us .container #values {
        background-color: transparent;
    }

    #us .container #values h5 {
        color: var(--grey-shade);
    }

    #us .container #values ul ion-icon {
        display: none;
    }

    #us .container ion-icon {
        color: var(--grey-shade);
    }

    #philosophy .keys {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 40px 0 20px 0;
    }


    #philosophy .boxes {
        width: 60%;
        margin: auto;
    }
}